
<footer>
    <div class="row">
        <hr />
        <p class="text-center">&#174; 2017 - Blog içindeki makale ve örnekler alıntı değildir.Tüm hakları Burak Coşkun'a aittir. </p>
        <p class="text-center"><img src="~/Content/images/cc.png" /> | This work/blog is licensed under a <a href="https://creativecommons.org/licenses/by/2.0/">Creative Commons Attribution 2.0 Generic License.</a> </p>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</footer>