
@{
    ViewBag.Title = "FaydaliOrnekler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="categoryTitle">
    <h2>
        Faydalı Örnekler
    </h2>
</div>

<div id="accordion">
    <h3>TC Kimlik Doğrulama</h3>
    <div>
        <p data-height="500" data-theme-id="0" data-slug-hash="ZyOaGK" data-default-tab="js,result" data-user="burakc34" data-embed-version="2" data-pen-title="TC Kontrol ve Datepicker Örneği" class="codepen"></p>
    </div>
</div>


<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>