
@{
    ViewBag.Title = "FaydaliBilgiler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="categoryTitle">
    <h2>
        Faydalı Bilgiler
    </h2>
</div>
<div class="col-md-12">
    <br />
    <p>Henüz veri girilmemiştir.</p>
</div>


