@using System.Web.UI.WebControls

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/Content/images/fav_bc.png" type="image/x-icon" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Yönlendiriliyorsunuz..</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Areas/Admin/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Areas/Admin/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/Areas/Admin/Content/css/sb-admin.min.css" rel="stylesheet">
    <style>
        .validation-summary-errors {
            color: red;
        }

        body {
            margin: 0;
            background-image: url('../../Content/images/loginbg.jpg');
            /*background: #000;*/
        }
    </style>


</head>

<body>
    <div class="container" style="margin-top: 150px;">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-center"><h5><b>Kayıt Başarılı! <br />Yönlendiriliyorsunuz..</b></h5></div>
            <div class="card-body">
                <div class="form-group">
                    <div class="cols-sm-12" style="text-align: center">
                        <i class="fa fa-check" style="color: green; font-size: 100px;" aria-hidden="true"></i><br />
                        <p class="text-justify" style="color: black">Lütfen e-posta adresinize gönderdiğimiz aktivasyon linkine tıklayarak hesabınızı aktive ediniz. Hesabınızı aktive etmeden giriş yapamazsınız.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<script>

    $(function() {
        setTimeout(function() {
            window.location = "/Home";
        }, 5000);
    });

</script>

</body>
</html>

